<form class="form" action="/bands/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  
Fix-edit.hbs-tati
  <label for="band name" class="form-item">
    Band Name:
    <input type="text" name="name" value="{{name}}">
    
  </label>
  
  <label for="year formed" class="form-item">
    Year formed:
    <input type="text" name="breed" value="{{year}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>