<div class="band">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Band Name: {{name}}</div>
  <div>Year Formed: {{year}}</div>
  {{!-- <a href="/bands/edit/{{id}}">Edit</a> --}}
</div>
