<div class="band">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Year Formed: {{breed}}</div>
  <div>Album: {{owner}}</div>
  {{!-- <a href="/bands/edit/{{id}}">Edit</a> --}}
</div>
